body{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color:#163152;
	font-style: normal;
	background-color: #FDFDFF;
}
h1{
	font-size:  44px;
	line-height: 60px;
	font-style: itaiic;
	text-transform: uppercase;
}
h2{
	font-size: 24px;
	line-height: 34px;
	font-weight: bold;
}
h3{
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}
.site-navigation-item{
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.date{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}
.address, .phone, .mail{
	font-size: 16px;
	line-height: 22px;
	color: #163152;
	text-decoration: none;
}
h2.underline{
	text-decoration: underline;
	text-decoration-color: #00C6BD;
	text-decoration-thickness: 2px;
	text-underline-offset: 20px;
}
ul.main-contacts li {
    line-height: 22px;
}
.news{
	font-size: 18px;
	line-height: 26px;
}
.news h2{
	text-align: center;
}
.news h3{
	font-size: 22px;
	font-weight: bold;
}
.news .teams{
	font-size: 20px;
	font-weight: bold;
}
blockquote{
	font-size: 26px;
	line-height: 36px;
	font-weight: bold;
}
.news .name{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}
.news p.date{
	font-size: 16px;
	line-height: 19px;
	text-transform: none;
	color: #8693A4;
}
figcaption.date{
	font-size: 16px;
	line-height: 19px;
	color: #8693A4;
	text-transform: none;
}
